@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/global.js?v=20180507"></script>
<script src="js/user-insurance-policy.js?v=20180507"></script>
<h1>User Insurance Policy</h1>
<p id="msg"></p>
<div id="users"></div>
<br/><input type="button" id="loadPolicies" value="Load Policies">
<br/>
<h2>Link Insurance Policy</h2>
<div id="policy-list"></div>
<form>
    <table>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="link" value="Link" />
            </td>
        </tr>
    </table>
</form>
